<!DOCTYPE html>
<html lang="en">
<head>
  <title>Statusoid As a Code</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<script type="text/javascript">
    setTimeout(function () {
      location.reload();
    }, 10 * 1000);
</script>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Statusoid As a Code</h1>
  <p></p>
</div>


<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron text-center" style="margin-bottom:0">
        <h2>Results</h2>
          <table id="listing" class="table table-striped">
              <thead><td>URL</td><td>Results</td><td></td></thead>
          {% for key in url_measurements %}
              <tr><td>{{ key }}</td><td>{{ url_measurements[key] }}</td></tr>
          {% endfor %}
          </table>
      </div>
    </div>
  </div>
</div>

<p></p>

<div class="jumbotron text-center" style="margin-bottom:0;">
    <p>From <a href="https://github.com/beranm14">beranm14</a> at <a href="https://lukapo.cz/">Lukapo</a></p>
</div>

</body>
</html>
